#advantages-section {
    background: #4b4b4b;
    padding: 5vw 3vw;
}

#advantages-section h1 {
    text-align: center;
    font-size: 3vw;
    color: white;
    margin: 1vw;
}

#advantages-section h5 {
    text-align: center;
    font-size: 1vw;
    color: white;
    margin: 0 0 4vw 0;
    padding: 0 26vw;
}

#advantages {
    display: flex;
    font-size: 1.5vw;
    justify-content: space-evenly;
}

.advantage {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 14vw;
    padding: 3%;
    border-radius: 0.5em;
    color: white;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.75);
    background: linear-gradient(45deg, #2b2b2b, #4a4a4a);
    cursor: default;
}

.advantage strong {
    margin: 2vw 0 0 0;
    font-size: 1vw;
}

.advantage p {
    font-size: 1.4vw;
}

.advantage div:nth-child(1) {
    color: #ebcb80;
    transition: all 0.25s ease-in-out;
}

.find {
    background: #ebcb80;
    color: #4b4b4b;
    font-size: 1.3vw;
    transition: all 0.25s ease-in-out;
}

.advantage:hover {
    color: #4b4b4b;
    background: #f1da98 !important;
}

.advantage:hover>.find {
    background: #4b4b4b;
    color: white !important;
}

.advantage:hover>div:nth-child(1) {
    color: #4b4b4b !important;
}