#find-section {
    color: #4b4b4b;
    background-image: url("../images/hero image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 14vw 10vw 10vw 10vw;
}

#find-section h1 {
    font-size: 3vw;
    margin: 0.1em 0 0 0;
}

#find-section h5 {
    font-size: 1vw;
    margin: 1em 0 2em 0;
    ;
}

#find-section-input {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1vw 0;
}

#find-section-input input {
    padding: 1em;
    background: transparent;
    border: 1px solid #4B4B4B;
    font-size: 1vw;
    border-radius: 0.5em;
    margin-right: 3em;
}

#find-button {
    font-size: 1vw;
    border: 1px solid #4B4B4B;
}

#flying-icons {
    display: flex;
    margin: 3vw 0;
}

#flying-icons div {
    background: #4B4B4B;
    font-size: 1.2vw;
    width: 3em;
    height: 3em;
    margin: 0 1em;
    border-radius: 50px;
}