#navbar {
    background: #4b4b4b;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0;
}

#logo {
    color: #ebcb80;
    font-size: 3vw;
    user-select: none;
}

#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation div {
    font-size: 1vw;
    margin: 0 0.5em;
}

#navigation div:nth-last-child(1) {
    border: 1px solid white;
}

#hamburger {
    display: none;
}